*.dat
*.gz
*.log
*.out
*.pid
.DS_Store
.sass-cache
.tmp
bower_components/*
app/bower_components/*
app/styles/generated/*
logs/*
node_modules/*
npm-debug.log
pids/*
scss-lint-report.xml
uploads/*
www/*
/.data
