*.dat
*.gz
*.log
*.out
*.pid
.DS_STORE
.sass-cache
.tmp
logs/*
node_modules/*
npm-debug.log
pids/*
scss-lint-report.xml
uploads/*
www/*
www/bower_components/*
www/vendor/*
www/wp-content/backup/*
www/wp-content/cache/*
www/wp-content/plugins/*
www/wp-content/upgrade/*
www/wp-content/uploads/*
